body {
    background-color: #48A6A7;
    color: white;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

h1 {
    margin-top: -10px;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 100vh;
    gap: 50px;
}

.eins {
    border-right: 1px solid white;
}

.zwei {
    border-left: 1px solid white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#original, #verschl端sselung {
    resize: none;
    background-color: #F2EFE7;
    border: 3px solid #006A71;
    border-radius: 40px;
    padding-top: 20px;
    padding-left: 25px;
    font-size: 33px;
}

#verschl端sselung:focus {
    outline: none;
}

#original:focus {
    outline: none;
}

.original, .verschl端sselung, .verschiebung {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.original, .verschl端sselung, .verschiebung > label {
    font-size: 27px;
}

#mitte {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#verschiebung {
    width: 300px;
    height: 100px;
    border: 3px solid #006A71;
    border-radius: 20px;
    background-color: #9ACBD0;
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

#verschiebung:focus {
    outline: none;
}

input[type=number] {
    text-align: center;
}

#encode {
    width: 150px;
    height: 100px;
    border: 3px solid #006A71;
    border-radius: 20px;
    background-color: #006A71;
    color: white;
    font-size: 30px;
    font-weight: bold;

    position: relative;
    top: 38px;
}

#encode:hover {
    background-color: #064b50;
    transition: 0.5s ease;
    border: 3px solid #02818a;
}

